a {
	text-decoration: none; padding:3px; color: #6498CC;
}

a:hover{
	text-decoration:underline;
}

.hidden {
    display:none;
}

.round {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.block {
    display:block;
}

#header {
/*    background: #f2fcff;*/
}
    
    #header-menu {
        list-style-type:none;
        margin-top:10px;
    }

    #header-menu li a{
        float:left;
        display:inline-block;
        margin-right:15px;
        font-size:1.4em;
        padding:5px;
    }

#sidebar {
    background:#ededed;
    margin-top:10px;
}

    #side-navigation {
        list-style-type:none;
    }
    
    #side-navigation li a {
        padding:5px;
        line-height:30px;
    }

    .selected-sidemenu-item {
        font-weight:bold;
    }

#content {
    margin-top:10px;
}

.zebra {
    padding:5px;
    border-bottom:1px solid #ccc;
}
    .zebra a {
        float:right;
    }
div.zebra {
    margin-bottom:10px;
}
    div.zebra ul {
        margin-bottom:0px;
    }
.name {
    color:#777;
    font-size:1.2em;
}
