body {
    color:#333;
}

a {
	text-decoration: none; padding:3px; color: #41B5FF;
}

a:hover{
	text-decoration:underline;
}

.hidden {
    display:none;
}

.round {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

fieldset p {
    padding:0;
    margin:0px;
}

.block {
    display:block;
}

.inline-block label {
    display:inline-block;
    width:150px;
}

em {
    font-size:11px;
}

#container {
    padding-top:0px;
    box-shadow:0 2px 8px #AAAAAA;  
}   

#header {
/*    background: #f2fcff;*/
    //background:#f5f5f5;
    //box-shadow:0 2px 8px #AAAAAA;
    margin-bottom:10px;
}
    
    #header-menu {
        list-style-type:none;
        margin-top:0px;
    }

    #header-menu li a{
        float:left;
        display:inline-block;
        margin-right:10px;
        font-size:1.4em;
        padding:7px 15px;
        color:#7BB750;
        //box-shadow:0 2px 8px #AAAAAA;
        border:1px solid #f2f2f2;
        border-top:3px solid #ddd;
        background:#f7f7f7;
        -moz-border-radius-bottomleft:5px;
        -moz-border-radius-bottomright:5px;
    }

#sidebar {
    //background:#f5f5f5;
    margin-top:10px;
    box-shadow:2px 2px 8px #AAAAAA;
}

    #side-navigation {
        list-style-type:none;
    }
    
    #side-navigation li a {
        padding:0px;
        line-height:30px;
        color:#FF0052;
    }
    
    #side-navigation li span {
        font-size:1.2em!important;
        font-family:tahoma;
        font-weight:bold;
    }
    
    .selected-sidemenu-item {
        font-weight:bold;
    }

#footer {
    background:#F1F1F1;
    height:80px;
}
#content {
    margin-top:10px;
    height:auto !important;
    min-height:700px;
    overflow:hidden;
    background:#f1f1f1;    
}

.zebra {
    padding:5px;
    border:1px solid #eee;
    background:#fafafa;
    margin:10px 5px;
}
    .zebra a {
        float:right;
    }
div.zebra {
}
    div.zebra ul {
        margin-bottom:0px;
    }
.name {
    color:#777;
    font-size:1.2em;
}

.ui-autocomplete {
    z-index:1600!important;
}

.fakks {
    background:#f2f2f2;
    padding:5px;
}

.p-list-item {
   padding:5px; border_:1px solid #E5F2C6;
   margin-bottom:7px;
}

.yellow {
    background:#7BB750;
    color:#000;
}

.yellow a {
    color:#fff;
}

.fakks-list {
    padding:3px 0;
}

.sub {
    color:#999;
}

/* calendar */
table.calendar		{ float:left;border-left:1px solid #999; border-top:1px solid #999; }

tr.calendar-row	{  }
td.calendar-day	{ min-height:80px; font-size:12px; position:relative; /*background:#dedede;*/} * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ -moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:100px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

.day {
    font-size:1.6em;
    font-weight:bold;
}

.today {
    /*background:#FF6C00!important;*/
    color:#554444!important;
}

.next-link, .prev-link {
    font-size:1.6em;
    font-family:Tahoma;
    
}

.current-month {
    text-align:center;
}

#content div {
    border:0px solid #ccc;
    padding:5px;
}

.left-arrow-icon, .right-arrow-icon {
    display:inline-block;
    width:16px;
    height:32px;
}
.left-arrow-icon {
    background:url(../img/sprite-icons.png) no-repeat scroll -112px -144px ;
}
.right-arrow-icon {
    background:url(../img/sprite-icons.png) no-repeat scroll -128px -144px ;
}

.text-right {
    text-align:right;
}

.text-center {
    text-align:center;
}

.current-week {
    font-weight:bold;
    font-size:2em;
}

.week-table {
    border-top:1px solid #ccc;
}
    .week-table thead td {
        font-weight:bold;
        font-size:1.2em;
        text-align:center;
    }
    .week-table .td-first {
        font-weight:bold;
        vertical-align:middle;
    }
    .week-table .td-last {
        vertical-align:middle;
    }
    .week-table tbody td, .week-table thead td {
        border-bottom:1px solid #ccc;
    }
    .week-table td {
        border-right:1px solid #ccc;
        vertical-align:bottom;
    }
    
    .week-table p {
        margin-bottom:5px!important;
    }
    
    .week-table tbody tr:nth-child(2n+1) {
        background:#eaeaea;
    }